DF-project5/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DF-project5"
		},
		"ls_azuresql_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_azuresql'"
		},
		"ls_onpremtocloud_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_onpremtocloud'",
			"defaultValue": "integrated security=True;Data Source=DESKTOP-26BD9D2;Initial Catalog=TEST_DB_SUPPLYCHAIN"
		},
		"ls_onpremtocloud_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_onpremtocloud'"
		},
		"ls_sinkoncloud_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_sinkoncloud'"
		},
		"ls_onpremtocloud_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "DESKTOP-26BD9D2\\MADHU"
		},
		"ls_sinkoncloud_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://saproject5.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_adf_project5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from controltable where indicator = 1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_cloud5",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().Load_Type,'incremental')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Copy data1_copy1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@concat(\n'SELECT * FROM ',\nitem().Source_Object_Schema,\n'.',\nitem().Source_Object_Name\n)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_onprem5",
														"type": "DatasetReference",
														"parameters": {
															"Source_Object_Schema": "@item().Source_Object_Schema",
															"Source_Object_Name": {
																"value": "@item().Source_Object_Name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_sinkadlszen2",
														"type": "DatasetReference",
														"parameters": {
															"Target_Location": "@item().Target_Location",
															"Target_Object_Name": {
																"value": "@concat(item().Target_Object_Name,'.csv')",
																"type": "Expression"
															}
														}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "Lookup2",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@if(equals(toLower(item().Load_Type), 'incremental'), concat('SELECT MAX(', item().Watermark_column, ') AS Watermark_Value FROM [', item().Source_Object_Schema, '].', item().Source_Object_Name), 'SELECT NULL AS Watermark_Value')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_onprem5",
														"type": "DatasetReference",
														"parameters": {
															"Source_Object_Schema": "@item().Source_Object_Schema",
															"Source_Object_Name": "@item().Source_Object_Schema"
														}
													},
													"firstRowOnly": false
												}
											},
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Lookup2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@concat('Select * from ' ,item().Source_Object_Schema,'.',item().Source_Object_Name,' where ',item().watermark_column,'>',item().watermark_value)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".csv"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_onprem5",
														"type": "DatasetReference",
														"parameters": {
															"Source_Object_Schema": "@item().Source_Object_Schema",
															"Source_Object_Name": {
																"value": "@item().Source_object_Name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_sinkadlszen2",
														"type": "DatasetReference",
														"parameters": {
															"Target_Location": {
																"value": "@item().Target_Location",
																"type": "Expression"
															},
															"Target_Object_Name": {
																"value": "@concat(item().Target_Object_Name,'.csv')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "sp_UpdateWatermark",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy data1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[sp_UpdateWatermark]",
													"storedProcedureParameters": {
														"Source_Object_Name": {
															"value": {
																"value": "@item().Source_Object_Name",
																"type": "Expression"
															},
															"type": "String"
														},
														"Watermark_Column": {
															"value": {
																"value": "@item().Watermark_Column",
																"type": "Expression"
															},
															"type": "String"
														},
														"Watermark_Value": {
															"value": {
																"value": "@activity('Lookup2').output.value[0].watermark_value",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_azuresql",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "sp_UpdateErrorTable",
												"type": "SqlServerStoredProcedure",
												"state": "Inactive",
												"onInactiveMarkAs": "Succeeded",
												"dependsOn": [
													{
														"activity": "Copy data1",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[sp_UpdateErrorTable]",
													"storedProcedureParameters": {
														"copyDuration_in_secs": {
															"value": "",
															"type": "String"
														},
														"DataFactory_Name": {
															"value": "",
															"type": "String"
														},
														"Destination": {
															"value": "",
															"type": "String"
														},
														"effectiveIntegrationRuntime": {
															"value": "",
															"type": "String"
														},
														"ErrorCode": {
															"value": "",
															"type": "String"
														},
														"ErrorDescription": {
															"value": "",
															"type": "String"
														},
														"ErrorLoggedTime": {
															"value": "",
															"type": "String"
														},
														"Execution_Status": {
															"value": "",
															"type": "String"
														},
														"FailureType": {
															"value": "",
															"type": "String"
														},
														"Pipeline_Name": {
															"value": "",
															"type": "String"
														},
														"RunId": {
															"value": "",
															"type": "String"
														},
														"Sink_Type": {
															"value": "",
															"type": "String"
														},
														"Source": {
															"value": "",
															"type": "String"
														},
														"Source_Type": {
															"value": "",
															"type": "String"
														},
														"TriggerId": {
															"value": "",
															"type": "String"
														},
														"TriggerName": {
															"value": "",
															"type": "String"
														},
														"TriggerTime": {
															"value": "",
															"type": "String"
														},
														"TriggerType": {
															"value": "",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_azuresql",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "sp_UpdateLogTable",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "sp_UpdateWatermark",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[sp_UpdateLogTable]",
													"storedProcedureParameters": {
														"CopyActivity_End_Time": {
															"value": {
																"value": "@{utcnow()}",
																"type": "Expression"
															},
															"type": "String"
														},
														"CopyActivity_queuingDuration_in_secs": {
															"value": {
																"value": "@{activity('Copy data1').output.executionDetails[0].detailedDurations.queuingDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"CopyActivity_Start_Time": {
															"value": {
																"value": "@{activity('Copy data1').output.executionDetails[0].start}",
																"type": "Expression"
															},
															"type": "String"
														},
														"CopyActivity_transferDuration_in_secs": {
															"value": {
																"value": "@{activity('Copy data1').output.copyDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"copyDuration_in_secs": {
															"value": {
																"value": "@{activity('Copy data1').output.copyDuration}",
																"type": "Expression"
															},
															"type": "String"
														},
														"DataFactory_Name": {
															"value": {
																"value": "@{pipeline().DataFactory}",
																"type": "Expression"
															},
															"type": "String"
														},
														"DataRead": {
															"value": {
																"value": "@{activity('Copy data1').output.dataRead}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"Destination": {
															"value": {
																"value": "@{item().Target_Object_Name}",
																"type": "Expression"
															},
															"type": "String"
														},
														"effectiveIntegrationRuntime": {
															"value": {
																"value": "@{activity('Copy data1').output.effectiveIntegrationRuntime}",
																"type": "Expression"
															},
															"type": "String"
														},
														"Execution_Status": {
															"value": {
																"value": "@{activity('Copy data1').output.executionDetails[0].status}",
																"type": "Expression"
															},
															"type": "String"
														},
														"Pipeline_Name": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowsCopied": {
															"value": {
																"value": "@{activity('Copy data1').output.rowsCopied}",
																"type": "Expression"
															},
															"type": "String"
														},
														"RunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"Sink_Type": {
															"value": {
																"value": "@{activity('Copy data1').output.executionDetails[0].sink.type}",
																"type": "Expression"
															},
															"type": "String"
														},
														"Source": {
															"value": {
																"value": "@{item().Source_System_Name}",
																"type": "Expression"
															},
															"type": "String"
														},
														"Source_Type": {
															"value": {
																"value": "@{activity('Copy data1').output.executionDetails[0].source}",
																"type": "Expression"
															},
															"type": "String"
														},
														"TriggerId": {
															"value": {
																"value": "@{pipeline().TriggerId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"TriggerName": {
															"value": {
																"value": "@{pipeline().TriggerName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"TriggerTime": {
															"value": {
																"value": "@{pipeline().TriggerTime}",
																"type": "Expression"
															},
															"type": "String"
														},
														"TriggerType": {
															"value": {
																"value": "@{pipeline().TriggerType}",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_azuresql",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-23T09:22:25Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_cloud5')]",
				"[concat(variables('factoryId'), '/datasets/ds_onprem5')]",
				"[concat(variables('factoryId'), '/datasets/ds_sinkadlszen2')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cloud5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_onprem5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_onpremtocloud",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Source_Object_Schema": {
						"type": "string",
						"defaultValue": "@item().Source_Object_Schema"
					},
					"Source_Object_Name": {
						"type": "string",
						"defaultValue": "@item().Source_Object_Schema"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_onpremtocloud')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sinkadlszen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sinkoncloud",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Target_Location": {
						"type": "string"
					},
					"Target_Object_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Target_Object_Name",
							"type": "Expression"
						},
						"fileSystem": "landing-zone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sinkoncloud')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sinkcopy2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sinkoncloud",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "landing-zone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sinkoncloud')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azuresql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_azuresql_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_onpremtocloud')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ls_onpremtocloud_connectionString')]",
					"userName": "[parameters('ls_onpremtocloud_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_onpremtocloud_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ir-onpremtocloud",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ir-onpremtocloud')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sinkoncloud')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_sinkoncloud_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_sinkoncloud_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ir-onpremtocloud')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}